@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f0eb;
  font-family: "Saira Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: brown;
}
hr {
  background-color: rgb(126, 123, 123);
}

/* TOP TITLE STARTS */
.top_title {
  background-color: #f3f0eb;
}
.top_title a {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: black;
  font-weight: 200;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top_title ul {
  justify-content: flex-end !important;
}

/* HEADER STARTS */
header {
  background-color: #f3f0eb;
  padding: 70px 0px;
}
.nav-item {
  padding: 0px 10px;
}
.nav-item a {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
}

.nav-link {
  border-bottom: 2px solid transparent;
  transition: all linear 0.3s;
}

.nav-link:hover {
  color: brown;
  border-bottom: 2px solid brown;
}
.navbar-brand {
  margin-right: 0 !important;
  right: 50%;
  transform: translate(50%, -20px);
  top: 0;
  position: absolute;
}

.navbar-brand img {
  max-width: 150px;
}
header {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  border-bottom: 1px solid rgb(63, 62, 62);
  z-index: 99;
}

/* BOTTOM TITLE STARTS */
.bottom_title h6 {
  padding: 0;
  margin: 0;
  color: #d4be84;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
.bottom_title {
  background-color: #333333;
  padding-top: 160px;
}

/* BANNER STARTS */
.banner {
  background-image: url(https://i.shgcdn.com/bf618304-04e4-4c72-8777-ceef7532de96/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: #00000073;
}
.banner h1 {
  color: white;
  padding: 200px 0px;
}

/* PRODUCTS DETAILS STARTS */
.products_details {
  padding: 50px 0px;
}
.products {
  padding: 30px 0px;
}
.image_sec {
}
.image_sec img {
}
.products_content {
}

.box {
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  right: 0;
  padding: 5px 15px;
  font-size: 22px;
  z-index: 90;
}
.image_view {
  position: relative;
  overflow: hidden;
}

.front_view img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 50;
  transition: all 0.5s;
}

.hover_view img {
  position: absolute;
  right: 0;
  bottom: -100%;
  z-index: 60;
  transition: all 0.5s;
}
.front_view img :hover.hover_view img {
  bottom: 0;
  z-index: 10;
}

/* FOOTER STARTS */
footer ul {
  margin: 0;
  padding: 0;
  padding: 1px 0px;
}
footer ul li {
  list-style: none;
  line-height: 2;
}

footer span {
  font-size: 22px;
  padding-bottom: 20px;
  color: rgb(39, 29, 29);
}
footer ul li a {
  color: black;
  font-size: 19px;
  transition: all linear 0.3s;
}

footer ul li a :hover {
  color: brown;
}

footer {
  padding: 40px 0px 10px;
  border-top: 1px solid black;
}

footer p {
  font-size: 20px;
  text-align: center;
  color: rgb(66, 66, 66);
}

/* RESPONSIVE DESIGN */
@media (max-width: 576px) {
  .bottom_title h6 {
    letter-spacing: 1px;
  }

  .bottom_title {
    padding-top: 40px;
  }

  header {
    padding: 30px 0px;
  }

  .banner h1 {
    color: white;
    padding: 139px 0px;
    font-size: 29px;
  }

  footer span {
    font-size: 20px;
    padding: 20px 0px;
    color: rgb(39, 29, 29);
  }

  footer ul li a {
    color: black;
    font-size: 15px;
  }

  footer p {
    font-size: 20px;
    text-align: center;
    color: rgb(66, 66, 66);
    padding-top: 15px;
  }
}
